body {
  font-family: Cerebri Sans,  Helvetica,  Arial,  sans-serif;
}

h1 {
  color: #6d39cf;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #ee6d6d;
  font-size: 15px;
  font-weight: 200;
  height: 15px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #a3bada;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(78, 68, 68);
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
